h1{
    color:black;
    font-size:40pt;
    font-family: Arial, Helvetica, sans-serif
    


}
body{
    background-color:rgb(167, 184, 207)
    
}
img{
    width:800px;
    height:600px;
}
button{
    color:black;
    width:80px;
    height:60px;
}

    
}


